body {
  max-width: 2000px !important;
}

#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
  background-color: #116EBA;
}

#main .nav-pills > li > a:hover {
  background-color: #116EBA;
}

h1,h2,h3,h4,h5,h6,legend {
  color: #116EBA;
}

h1.title {
  font-size: 250%;
  text-align: center;
  border-style: solid;
}

h1.subtitle {
  font-size: 200%;
  text-align: center;
}

#nav-top span.glyphicon {
  color: #44C8DF;
}

#sidebar header {
  color: #44C8DF;
}

#sidebar h2 {
  background-color: #44C8DF;
}

#main a {
  background-image: linear-gradient(180deg, #17B5BF, #17B5BF);
  color: #44C8DF;
}

a:hover {
  color: #17B5BF
}

a:visited {
  color: #17B5BF
}
